@import url(https://fonts.googleapis.com/css?family=Roboto:400,400i,700,900&amp;

subset=latin-ext);@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, sans-serif;
  background: #333;
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 1em;
}

h1 {
  font-size: 2em;
}

::-moz-selection {
  color: #fff;
  background-color: tomato;
}

::selection {
  color: #fff;
  background-color: tomato;
}

code,
pre code,
code[class*='language-'],
pre[class*='language-'] {
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
}

code,
pre {
  background: #eee;
  color: #000;
  border: 1px solid #aaa;
  border-radius: 2px;
}

pre code {
  border: 0;
}

pre {
  overflow-x: auto;
}

.button,
.issue-form button,
.issue main .fab-buttons a {
  display: inline-block;
  background: tomato;
  color: white;
  font-family: inherit;
  font-size: 1.5em;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: .5em 1em;
  cursor: default;
  text-decoration: none;
  -webkit-transition: .15s ease-in-out background-color;
  transition: .15s ease-in-out background-color;
}

.button:hover,
.issue-form button:hover,
.issue main .fab-buttons a:hover {
  background-color: #ff8e7a;
}

.button.button-secondary,
.issue-form button.button-secondary,
.issue main .fab-buttons a.button-secondary {
  background-color: #777;
}

.button.button-cancel,
.issue-form button.button-cancel,
.issue main .fab-buttons a.button-cancel {
  font-size: 1.2em;
}

nav {
  background: rgba(0, 0, 0, 0.2);
  padding: .8em 0;
}

nav a {
  font-size: 1.8em;
  color: white;
  font-weight: 900;
  text-decoration: none;
}

.issues {
  list-style-type: none;
  padding-left: 0;
  margin: 2em 0;
}

.issues .group-header {
  font-weight: bold;
  font-size: 2em;
  margin-top: 1em;
}

.issues a {
  display: block;
  margin: .5em 0;
  padding: 1em;
  background: #fff;
  color: #000;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: .15s ease-in-out opacity;
  transition: .15s ease-in-out opacity;
}

.issues a:hover {
  opacity: .9;
}

.issues em {
  color: #777;
}

.issue-form label {
  display: block;
  margin: 1.5em 0;
}

.issue-form input[type="text"],
.issue-form textarea {
  width: 100%;
  margin-top: .5em;
  padding: .5em;
  font-size: 1.2em;
  font-family: inherit;
  border: 2px solid transparent;
  border-radius: 5px;
  -webkit-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
  resize: vertical;
}

.issue-form input[type="text"]:focus,
.issue-form textarea:focus {
  border-color: tomato;
}

.issue-form textarea {
  min-height: 10em;
}

.issue-form .buttons {
  text-align: right;
}

.issue-form .buttons .button-small {
  margin-right: 1em;
}

.issue header {
  background: rgba(255, 255, 255, 0.1);
  padding: 2em 0;
  text-align: center;
}

.issue header .author {
  font-size: 1.2em;
}

.issue header .author img {
  display: block;
  width: 100px;
  height: 100px;
  margin: .4em auto;
  border: 3px solid #fff;
  border-radius: 50%;
}

.issue header small {
  display: block;
}

.issue main {
  padding: 2em 0;
  line-height: 1.5;
  font-size: 1.2em;
}

.issue main .fab-buttons {
  height: 0;
  position: relative;
  top: -3.5em;
  text-align: right;
}

.issue main .fab-buttons a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2em;
  height: 2em;
  padding: 0;
  border-radius: 50%;
}

.alert {
  background: tomato;
  border-radius: 5px;
  padding: 1em;
}

.status-badge {
  display: inline-block;
  padding: .3em .4em;
  margin: 1.5em .2em;
}

.status-0 {
  background: tomato;
}

.status-1 {
  background: #FBD201;
}

.status-2 {
  background: #308446;
}

.home-page {
  padding-top: 2em;
  padding-bottom: 2em;
}

