// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,900&amp;subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@import 'main.scss';
@import 'colors.scss';

.button {
    display: inline-block;
    background: $primary;
    color: white;
    font-family: inherit;
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: .5em 1em;
    cursor: default;
    text-decoration: none;

    transition: .15s ease-in-out background-color;

    &:hover {
        background-color: lighten($primary, 10%);
    }

    &.button-secondary {
        background-color: $secondary;
    }

    &.button-cancel {
        font-size: 1.2em;
    }
}

nav {
    background: rgba(0, 0, 0, .2);
    padding: .8em 0;

    a {
        font-size: 1.8em;
        color: white;
        font-weight: 900;
        text-decoration: none;
    }
}

.issues {
    list-style-type: none;
    padding-left: 0;
    margin: 2em 0;

    .group-header {
        font-weight: bold;
        font-size: 2em;
        margin-top: 1em;
    }

    a {
        display: block;
        margin: .5em 0;
        padding: 1em;
        background: #fff;
        color: #000;
        border-radius: 5px;
        text-decoration: none;

        transition: .15s ease-in-out opacity;
        &:hover {
            opacity: .9;
        }
    }

    em {
        color: #777;
    }
}

.issue-form {
    label {
        display: block;
        margin: 1.5em 0;
    }

    input[type="text"],
    textarea {
        width: 100%;
        margin-top: .5em;
        padding: .5em;

        font-size: 1.2em;
        font-family: inherit;

        border: 2px solid transparent;
        border-radius: 5px;
        transition: border .2s ease-in-out;

        resize: vertical;

        &:focus {
            border-color: $primary;
        }
    }

    textarea {
        min-height: 10em;
    }

    button {
        @extend .button;
    }

    .buttons {
        text-align: right;

        .button-small {
            margin-right: 1em;
        }
    }
}

.issue {
    header {
        background: rgba(255, 255, 255, .1);
        padding: 2em 0;
        text-align: center;

        .author {
            font-size: 1.2em;

            img {
                display: block;
                width: 100px;
                height: 100px;
                margin: .4em auto;
                border: 3px solid #fff;
                border-radius: 50%;
            }
        }

        small {
            display: block;
        }
    }

    main {
        padding: 2em 0;
        line-height: 1.5;
        font-size: 1.2em;

        .fab-buttons {
            height: 0;
            position: relative;
            top: -3.5em;
            text-align: right;

            a {
                @extend .button;

                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 2em;
                height: 2em;
                padding: 0;
                border-radius: 50%;
            }
        }
    }
}

.alert {
    background: $primary;
    border-radius: 5px;
    padding: 1em;
}

.status-badge {
    display: inline-block;
    padding: .3em .4em;
    margin: 1.5em .2em;
}

.status-0 { background: $primary }
.status-1 { background: $waiting }
.status-2 { background: $ok }

.home-page {
    padding-top: 2em;
    padding-bottom: 2em;
}
