@import 'colors.scss';

* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, Arial, sans-serif;
    background: $background;
    color: #fff;

    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 1em;
}

h1 {
    font-size: 2em;
}

::selection {
    color: #fff;
    background-color: $primary;
}


code,
pre code,
code[class*='language-'], pre[class*='language-'] {
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
}

code,
pre {
    background: #eee;
    color: #000;
    border: 1px solid #aaa;
    border-radius: 2px;
}

pre code {
    border: 0;
}

pre {
    overflow-x: auto;
}
